* {
  --text-color-main: #5e6286;
  --icon-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "Lexend", sans-serif;
  color: var(--text-color-main);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/bg/BG.png");
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigation {
  display: grid;
  grid-template-columns: 65px auto 225px;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 120px;
  margin-left: 90px;
  margin-right: 90px;
  font-size: 23px;
  font-weight: 400;
}

.nav-logo {
}

.nav-bar {
  display: flex;
  margin-left: 80px;
}

.nav-bar-button {
  margin-right: 35px;
}
.nav-bar-dropdown {
  margin-right: 35px;
}

.nav-cta-btn {
  display: grid;
  align-items: center;
  height: 50px;
  font-size: 21px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    90deg,
    rgba(105, 102, 234, 1) 0%,
    rgba(145, 112, 215, 1) 100%
  );
  border-radius: 25px;
}

.nav-cta-btn:hover {
  cursor: pointer;
}

.title {
  font-size: 28px;
  text-align: center;
}

.content-wrapper {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.pato-logo {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: var(--icon-shadow);
}

.icons-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 14px;
}

.icons-grid-item {
  opacity: 0.5;
}

.input-box {
  width: 25vw;
  padding: 0.8em;
  border-radius: 1em;
  border: solid rgba(0, 0, 0, 0.2) 2px;
  box-shadow: var(--icon-shadow);
}

input:focus,
textarea:focus {
  outline: none;
}

input {
  font-size: medium;
  font-family: "Lexend", sans-serif;
}

.contact-form {
  font-size: large;
  margin-top: 2em;
  display: grid;

  grid-template-rows: auto;
  justify-items: center;
  grid-gap: 0.5em;
}

textarea {
  font-family: "Lexend", sans-serif;
  font-size: medium;
  resize: none;
  width: 25vw;
  height: 10vh;
  padding: 0.8em;
  border-radius: 1em;
  border: solid rgba(0, 0, 0, 0.2) 2px;
  box-shadow: var(--icon-shadow);
}

.input-button {
  border: none;
  width: 10vw;
  height: 50px;
  font-size: 21px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    90deg,
    rgba(105, 102, 234, 1) 0%,
    rgba(145, 112, 215, 1) 100%
  );
  border-radius: 25px;
  margin-top: 1em;
}

.input-button:hover {
  cursor: pointer;
}

.checkbox-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: stretch;
  width: 100%;
}

.checkbox-item {
  display: grid;
  grid-template-columns: 25px auto;
}

.social-icons-wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 18px;
  align-items: center;
}
