* {
  --text-color-main: #5e6286;
  --text-color-highlight: #777ba4;
  --icon-shadow: 2px 2px 15px rgba(0, 0, 0, 0.075);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "Lexend", sans-serif;
  color: var(--text-color-main);
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/bg/BG.png");
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigation {
  display: grid;
  grid-template-columns: 65px auto;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 120px;
  margin-left: 90px;
  margin-right: 90px;
  font-size: 23px;
  font-weight: 400;
}

.nav-logo {
  z-index: 10;
}

.nav-bar {
  display: flex;
  margin-left: 80px;
}

.nav-bar-button {
  margin-right: 35px;
}

.nav-bar-button:hover {
  color: var(--text-color-highlight);
}

.nav-bar-dropdown {
  margin-right: 35px;
}

.nav-bar-dropdown:hover {
  cursor: pointer;
}

.nav-bar-dropdown:hover .nav-bar-dropdown-wrapper {
  display: block;
  backdrop-filter: blur(5px);
}

.nav-bar-dropdown-wrapper {
  display: none;
  border-radius: 1em;
  background-color: rgba(240, 248, 255, 0.7);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: absolute;
  border: 1px solid rgba(94, 98, 134, 0.2);
}

.nav-bar-dropdown-items {
  border-bottom: 2px var(--text-color-main) solid;
  margin-bottom: 0.5em;
  transition: 0.3s;
}

.nav-bar-dropdown-items:hover {
  cursor: pointer;
  color: var(--text-color-highlight);
  padding-left: 0.2em;
  transition: 0.3s;
}

.nav-cta-btn {
  display: grid;
  align-items: center;
  height: 50px;
  font-size: 21px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    90deg,
    rgba(105, 102, 234, 1) 0%,
    rgba(145, 112, 215, 1) 100%
  );
  border-radius: 25px;
}

.nav-cta-btn:hover {
  cursor: pointer;
}

.title {
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

.content-wrapper {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.pato-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: var(--icon-shadow);
}

.icons-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 14px;
}

.icons-grid-item {
  opacity: 0.5;
}

.input-box {
  width: 25vw;
  padding: 0.8em;
  border-radius: 1em;
  border: solid rgba(0, 0, 0, 0.2) 2px;
  box-shadow: var(--icon-shadow);
}

input:focus,
textarea:focus {
  outline: none;
}

input {
  font-size: medium;
  font-family: "Lexend", sans-serif;
}

.contact-form {
  font-size: large;
  margin-top: 2em;
  display: grid;

  grid-template-rows: auto;
  justify-items: center;
  grid-gap: 0.5em;
}

textarea {
  font-family: "Lexend", sans-serif;
  font-size: medium;
  resize: none;
  width: 25vw;
  height: 10vh;
  padding: 0.8em;
  border-radius: 1em;
  border: solid rgba(0, 0, 0, 0.2) 2px;
  box-shadow: var(--icon-shadow);
}

.input-button {
  border: none;
  width: 10vw;
  height: 50px;
  font-size: 21px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    90deg,
    rgba(105, 102, 234, 1) 0%,
    rgba(145, 112, 215, 1) 100%
  );
  border-radius: 25px;
  margin-top: 1em;
}

.input-button:hover {
  cursor: pointer;
}

.checkbox-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: stretch;
  width: 100%;
}

.checkbox-item {
  display: grid;
  grid-template-columns: 25px auto;
}

.social-icons-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 18px;
  align-items: center;
}

summary:hover {
  cursor: pointer;
}

.faq-wrapper {
  width: 50vw;
  text-align: center;
  font-weight: bold;
}

.faq-answer {
  text-align: left;
  font-weight: normal;
}

.borgir {
  display: none;
  z-index: 10;
}

.mobile-background-open {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
}

.mobile-background-closed {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
}

.nav-bar-cta-closed {
  display: grid;
  grid-template-columns: auto 225px;
}

.musicplayer-wrapper {
  border-radius: 2em;
  box-shadow: var(--icon-shadow);
  background-color: white;
  width: 80vw;
  height: 70vh;
  margin-bottom: 5em;
  display: grid;
  grid-template-columns: 25% auto;
  overflow: hidden;
}

.musicplayer-nav {
  background-color: white;
}
.musicplayer-content {
  background-color: rgb(241, 244, 255);
  display: grid;
  grid-template-rows: auto 25%;
}

.musicplayer-controller {
  background-color: white;
  border-radius: 2em;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.musicplayer-buttons {
}

.musicplayer-timeline {
}

@media only screen and (max-width: 900px) {
  .navigation {
    padding: 1em;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    font-weight: 400;
  }

  .borgir {
    display: block;
  }

  .borgir:hover {
    cursor: pointer;
  }

  .borgir-img {
    width: 20px;
  }

  .nav-bar-cta-open {
    position: absolute;
    z-index: 5;
    margin: 0;
    top: 50%;
    left: 50%;
    width: 100vw;
    transition: 0.3s;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: auto auto;
  }

  .nav-bar-cta-closed {
    opacity: 0;
    position: absolute;
    z-index: 5;
    margin: 0;
    top: 50%;
    left: 50%;
    transition: 0.3s;
    transform: translate(-50%, -50%);
  }

  .nav-bar {
    margin: 0;
    display: grid;
    justify-content: center;
  }

  .nav-bar-button,
  .nav-bar-dropdown,
  .nav-cta {
    padding: 1em;
  }

  .nav-bar-dropdown-wrapper {
    display: grid;
    position: relative;
    background: none;
    border: none;
  }
  .nav-bar-dropdown-items {
    border: none;
  }

  .contact-form,
  .input-item,
  .input-button {
    width: 80vw;
  }
}
