* {
  --text-color-main: #5e6286;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "Lexend", sans-serif;
  color: var(--text-color-main);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/bg/BG.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigation {
  display: grid;
  margin-top: 70px;
  margin-bottom: 120px;
  margin-left: 90px;
  margin-right: 90px;
  font-size: 23px;
}

.nav-logo {
}

.nav-bar {
}

.nav-bar-button {
}
.nav-bar-dropdown {
}
